.cooking {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    .card_main {
        width: 30%;
        margin-bottom: 5%;
        background-color: #E7E7E7;
        border-radius: 5px;
        
        .img_card {
            width: 100%;
            height: 178px;
            background-color: #C7BEBE;
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 

            img {
                width: 100%;
                height: 178px;
                object-fit: cover; 
                border-top-left-radius: 5px; 
                border-top-right-radius: 5px; 
            }
        }
    
        .content_card {
            width: 100%;
                
    
            .header_card {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                .time_card {
                    display: flex;
                    flex-direction: row;
                    width: 20%;
                    justify-content: space-around;
                }
                    
            }

            .description_card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .ingredients_content {
                    font-size: 12px;
                    line-height: 10px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 40%;
                }
                .description_content {
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 60%;
                }
            }

        }
    }
}   




