#tags .tag {
    height: 37px;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    font-style: normal;
    text-align: center;
    font-size: 12px;
    margin-top: 2%;
    margin-right: 20px;
    padding-top: 10px;
}

#tags .ingredient {
    background-color: #3282F7;
}

#tags .appliance {
    background-color: #68D9A4;
}

#tags .ustensil {
    background-color: #ED6454;
}