/*---------------------------- VARIABLES ----------------------------------*/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------------- BODY ----------------------------------*/
body {
  font-family: var(--font-default);
}
body .maxcontainer {
  max-width: 1280px;
  margin: auto;
}
body header {
  padding-top: 3%;
  padding-bottom: 3%;
}
body main {
  padding-top: 5%;
}

.cooking {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.cooking .card_main {
  width: 30%;
  margin-bottom: 5%;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.cooking .card_main .img_card {
  width: 100%;
  height: 178px;
  background-color: #C7BEBE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cooking .card_main .img_card img {
  width: 100%;
  height: 178px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cooking .card_main .content_card {
  width: 100%;
}
.cooking .card_main .content_card .header_card {
  width: 100%;
  padding: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cooking .card_main .content_card .header_card .time_card {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
}
.cooking .card_main .content_card .header_card .time_card .text_clock {
  font-weight: bolder;
}
.cooking .card_main .content_card .description_card {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.cooking .card_main .content_card .description_card .ingredients_content {
  font-size: 12px;
  text-align: left;
  width: 40%;
  padding-right: 4%;
}
.cooking .card_main .content_card .description_card .ingredients_content .list_ingredient {
  list-style: none;
}
.cooking .card_main .content_card .description_card .ingredients_content .list_ingredient .text_ingredient {
  font-weight: bolder;
}
.cooking .card_main .content_card .description_card .description_content {
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  width: 60%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  margin-bottom: 6%;
}

.searchbar {
  width: 100%;
  position: relative;
  display: flex;
  background-color: #E7E7E7;
  border-radius: 5px;
}

.searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: black;
  background-color: #E7E7E7;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  background: #E7E7E7;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.selectcontainer {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=custom.css.map */
